<a href="{{ content.field_lrb_trouble_link.0 }}" {{ target }} data-toggle="popover" data-trigger="hover" data-title="<i class='fal fa-{{ icon }} mr-1'></i> {{ 'Get More Info'|t }}" data-placement="top" data-content='{{ node.field_lrb_trouble_hint.value|raw }}'>
  {{ content.body }}
</a>
