{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes).addClass(custom_classes) }} {% if anchor|length %}id="{{ anchor }}"{% endif %}>

    {% block content %}
      <h3 class="mb-3">{{ paragraph.field_weaver_heading.value|raw }}</h3>

      {{ content.field_weaver_text }}
      
      {{ content.field_weaver_buttons }}
    {% endblock %}

  </div>
{% endblock paragraph %}
