{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
  <div class="d-block d-md-none">
    <p class="text-center mb-5">
      <a id="resources-jump" tabindex=0 class="link-teal font-weight-bold no-underline">
        {{ 'Keep reading'|t }}<br/>
        <i class="fal fa-arrow-down fa-2x"></i>
      </a>
    </p>  
  </div>

  <div{{ attributes.addClass(classes).addClass(custom_classes) }} {% if anchor|length %}id="{{ anchor }}"{% endif %}>

    {% block content %}
      
      {% if paragraph.field_lrb_resources_heading.value %}
        <h3 class="headline thick-underline mb-3">{{ paragraph.field_lrb_resources_heading.value|raw }}</h3>
      {% endif %}
      
      <div class="field--name-field-lrb-resources-links">
        {% for link in links %}
          <div class="field__item">
            {{ link }}
          </div>
        {% endfor %}
      </div>
      
      {{ content.field_lrb_resources_footer }}

    {% endblock %}

  </div>
{% endblock paragraph %}
