<a href="#main-content" class="visually-hidden focusable skip-link bg-grey-lighter py-3 px-5 box-shadow" tabindex=1>
  <p class="h4 mb-3">
  	{{ 'Skip to main content'|t }}
  </p>
  <p class="font-weight-bold" aria-hidden="true">{{ 'Available Keyboard Shortcuts:'|t }}</p>
	<p>
		{{ 'CTRL + ALT + M -> Open main menu' }}<br/>
	  {{ 'CTRL + ALT + S -> Open search' }}<br/>
	  {{ 'CTRL + F -> Open all expandable elements' }}<br/>
	  {{ 'CTRL + ALT + UP -> Scroll to top' }}<br/>
	  {{ 'CTRL + ALT + DOWN -> Scroll to bottom' }}
  </p>
</a>