{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'card', 'bg-grey-lighter',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <p class="card-date m-0 font-weight-bolder text-teal">{{ card_date }}</p>

  <div class="card-body">

    {% if card_surtitle %}
      <p class="card-surtitle mb-0 text-teal">{{ card_surtitle }}</p>
    {% endif %}

    {% if card_title %}
      <h4 class="card-title">{{ card_title }}</h4>
    {% endif %}

    {% if card_text %}
      <div class="card-text">
        {{ card_text }}
      </div>
    {% endif %}
  </div>

  {% if card_footers %}
    <div class="card-footer">
      {% for card_footer in card_footers %}
        {{ card_footer|raw }}
      {% endfor %}
    </div>
  {% endif %}
</article>
