{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    'lrb-search-view'
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}

      <div class="view-grouping-options">
        <ul class="list-group list-unstyled list-group-horizontal">
          <li>{{ 'Group results by:'|t }}</li>
          <li class="px-3">
            <a {% if display_id == 'block_1' %}class="font-weight-bolder" {% endif %}href="/collective-agreements{% if search_params is defined %}{{ search_params }}{% endif %}">{{ 'Employer'|t }}</a>
          </li>
          <li class="px-3">
            <a {% if display_id == 'block_2' %}class="font-weight-bolder" {% endif %}href="/collective-agreements-unions{% if search_params is defined %}{{ search_params }}{% endif %}">{{ 'Union'|t }}</a>
          </li>
        </ul>    
      </div>

    </div>
  {% endif %}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div id="results" class="view-content {{ views_content_classes }}">
      <div class="col-12">
        {{ rows }}
      </div>
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
