<div class="search-api-autocomplete-suggestion">
  {% if note %}
    <span class="autocomplete-suggestion-note">{{ note }}</span>
  {% endif %}
  {% if label %}
    <span class="autocomplete-suggestion-label">{{ 'Go to'|t }} "{{ label }}" {% if suggestion_type is defined %}({{ suggestion_type }}){% endif %}</span>
  {% endif %}
  {% spaceless %}
    {% if suggestion_prefix %}
      <span class="autocomplete-suggestion-suggestion-prefix">Suggestion: {{ suggestion_prefix }}</span>
    {% endif %}
    {% if user_input %}
      <span class="autocomplete-suggestion-user-input">Search "{{ user_input }}</span>
    {% endif %}
    {% if suggestion_suffix %}
      <span class="autocomplete-suggestion-suggestion-suffix">{{ suggestion_suffix }}"</span>
    {% endif %}
  {% endspaceless %}
  {% if results_count %}
    <span class="autocomplete-suggestion-results-count">{{ results_count }}</span>
  {% endif %}
</div>
